<div class="admin">
  <h1 class="title">Admin Dashboard</h1>
  <h2>General Statistics</h2>
  <p class="stat-container border border-success rounded-pill border-3">Current number of products in the database: <%= @product_count %> </p>
  <p class="stat-container border border-success rounded-pill border-3">Current number of product categories in the database: <%= @product_categories %> </p>
  <%= link_to "Visit the admin product page.", "/admin/products" %>
</div>