<div class="about">
  <h1>About Us</h1>
  <p>In the words of Axl Rose, "Welcome to the Jungle!" Finding beautiful plants to brighten up your home has never been easier with this one-stop plant shop. 
  At <i>The Jungle</i>, we carry a wide variety of plants and flowers sourced from reputable growers and nurseries. Not only that, we also provide affordable
  and handy accessories to ensure that your plant stays healthy and loved.</p>

  <p>During the COVID-19 pandemic, it became difficult to carry our normal activities and standard day-to-day tasks. With prices going up and the job market steadily
  shrinking, I knew I had to make a change. So I took my long-time hobby of gardening and planting and decided to make it a career. I wanted to provide an unmatched
  quality in product that would be rare to find elsewhere. No wilted petals, dried out leaves, or over-watered ferns. That's why we guarantee a fast and seamless
  shipping experience, so that your new plant arrives looking loved and healthy.</p>

  <p>Should you have any questions regarding your order or our online store, please email us at thejungleshop@gmail.com, and we will do our best to respond to your
  inquiry in 1-2 business days. Have a great rest of your day!</p>
</div>