.about {
  h1 {
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-weight: 700;
    color: rgba(0, 130, 29, 0.7);
    font-family: "Montserrat";
  }

  p {
    padding: 0.5em;
    font-family: "Montserrat";
  }
}